<%= form_with(model: @property , local: true) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= @property.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    
    <div class="@property_name">
      <div><%= f.label :物件名 %></div>
      <%= f.text_field :property_name %>
    </div>
    <div class="property_rent">
      <div><%= f.label :賃料 %></div>
      <%= f.text_field :rent %>円
    </div>
    <div class="property_address">
      <div><%= f.label :住所 %></div>
      <%= f.text_field :address %>
    </div> 
    <div class="property_age">
      <div><%= f.label :築年数 %></div>
      <%= f.text_field :age %>年
    </div>
    <div class="property_remark">
      <div><%= f.label :備考 %></div>
      <%= f.text_field :remark %>
    </div>
    
    <% number = 0 %>
    <%= f.fields_for :nearest_stations do |s| %>
      <h2>最寄駅<%= number += 1 %></h2>
      <div>
        <div><%= s.label :路線名 %></div>
        <%= s.text_field :route_name %>
      </div>
      <div>
        <div><%= s.label :駅名 %></div>
        <%= s.text_field :station_name %>
      </div>
      <div>
        <div><%= s.label :徒歩分数 %></div>
        <%= s.text_field :on_foot_time %>分
      </div>
      <br>
    <% end %>
    <%= f.submit "登録する" %>
<% end %>
<br>